body {
    background-image: url(https://wallpapercave.com/wp/wp6942247.jpg);
}

.container {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-left: 150px;
    margin-right: 150px;
    
    background-color: black;
    background-image: linear-gradient(black, purple);
    background-size: cover;
    border-radius: 20px;
}

#title {
    margin-top: 50px;
}

p {
    font-family: inherit;
    font-size: 1.5rem;
    color: white;
}

#Lebron {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    color: whitesmoke;
}

#img-div {
    max-width: 80%;
    display: compact;
    height: auto;
    margin: auto;
}

ul {
    color: whitesmoke;
    text-align: left;
    max-width: 600px;
    margin: 0 auto 50px auto;
}

h3 {
  font-size: 1rem;
  font-style: oblique;
}
